<%= @player_1_name %> vs. <%= @player_2_name %>
<h4> Player two has 100 hit points </h4>
<h4> Player 2 has been attacked </h4>
<form action="/attack_page" method="get">
  <input type="submit" value="Attack">
</form>
